<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="menu.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/0.9.0/lodash.js"></script>

  <!-- код меню -->
  <script src="menu.js"></script>
</head>
<body>

<script type="text/template" id="menu-template">
  <div class="menu">
    <span class="menu-title"><%=title%></span>
    <ul class="menu-items">
      <% $(items).each(function() { %>
      <%=itemTemplate(this)%>
      <% }); %> 
    </ul>
  </div>
</script>

<script type="text/template" id="menu-item-template">
      <li><a href="#<%=link%>"><%=html%></a></li>
</script>

<script>
var foodMenu = new Menu({ 
  title: 'Продуктовое меню',
  items: [
    {link: 'cheese', html: 'Сыр'},
    {link: 'sausage', html: 'Колбаса'},
    {link: 'cake', html: 'Торт'}
  ],
  template: $('#menu-template').html(),
  itemTemplate: $('#menu-item-template').html()
});

foodMenu.getElement().appendTo('body');

foodMenu.open();

</script>

<button onclick="foodMenu.addItem({ link: 'berry', html: 'Ягоды' })">Добавить пункт меню "Ягоды"</button>
</body>
</html>