   .menu-items {
      display: none;
      margin: 0;
    }

    .menu-title {
      font-weight: bold;
      cursor: pointer;
      background: url(arrow-right.png) left center no-repeat;
      padding-left: 18px;
    }

    .menu-open .menu-items {
      display: block;
    }

    .menu-open .menu-title {
      background-image: url(arrow-down.png);
    }
